<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <title>Detail</title>
</head>

<body>
    <div class="row">
        <div class="sub-header ml-5 mt-2 col=md-6">
            <div class="form-group" style="text-align:left;">
                <h1>Hewan:129</h1>
                <h3 class="mt-4">Kucing:50</h3>
                <h3>Monyet:20</h3>
                <h3>Persia:19</h3>
                <h3>Anjing:18</h3>
                <h3>Gajah:12</h3>
                <h3>Kodok:10</h3>
                <h3>Katak:9</h3>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{imagepath}}" alt="">
        </div>
    </div>
</body>

</html>